@font-face {
    font-family: 'snowballsregular';
    src: url('../webfonts/snowballs-webfont.woff2') format('woff2'),
         url('../webfonts/snowballs-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}